 #section-4 {
  max-width: 1024px;
  margin: 0 auto;
  
}

#section-4 .grid {
  
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;       
  align-items: start;
  padding-top: 40px;

}  



@media (max-width: 1024px) {


    #section-4 .grid {
        grid-template-columns: 1fr !important; 
        gap: 3rem;
    }
}