body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container{
    border: solid 10px rgb(34, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap:20px;
    
}

section{
    border: solid 5px rgb(96, 5, 96);
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

